* {
    color: rgb(255, 255, 255);
    background-color: rgb(247, 193, 193);
    text-shadow: hotpink 1px 1px 0px;
}

div {
    color: white;
    font-weight: 500;
}

p {
    font-family: "Courier New", Courier, monospace;
    font-size: 19px;
    letter-spacing: 0.6px;
    word-spacing: 3.6px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

img {
    height: auto;
    width: 500px;
}